//! **************************************************************************
// Written by: Map P.58f on Thu Sep 05 18:34:30 2013
//! **************************************************************************

SCHEMATIC START;
COMP "SData" LOCATE = SITE "L17" LEVEL 1;
COMP "processing_system7_0_DDR_ODT" LOCATE = SITE "P5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[13]" LOCATE = SITE "F4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[14]" LOCATE = SITE "G4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[11]" LOCATE = SITE "G5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[12]" LOCATE = SITE "H4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[10]" LOCATE = SITE "J3" LEVEL 1;
COMP "processing_system7_0_DDR_WEB_pin" LOCATE = SITE "R4" LEVEL 1;
COMP "processing_system7_0_MIO[24]" LOCATE = SITE "B7" LEVEL 1;
COMP "processing_system7_0_MIO[23]" LOCATE = SITE "E11" LEVEL 1;
COMP "processing_system7_0_MIO[26]" LOCATE = SITE "A13" LEVEL 1;
COMP "processing_system7_0_MIO[25]" LOCATE = SITE "F12" LEVEL 1;
COMP "processing_system7_0_MIO[28]" LOCATE = SITE "A12" LEVEL 1;
COMP "processing_system7_0_MIO[27]" LOCATE = SITE "D7" LEVEL 1;
COMP "processing_system7_0_MIO[29]" LOCATE = SITE "E8" LEVEL 1;
COMP "processing_system7_0_MIO[20]" LOCATE = SITE "A8" LEVEL 1;
COMP "processing_system7_0_MIO[22]" LOCATE = SITE "A14" LEVEL 1;
COMP "ADC_Data0[1]" LOCATE = SITE "G21" LEVEL 1;
COMP "processing_system7_0_MIO[21]" LOCATE = SITE "F11" LEVEL 1;
COMP "processing_system7_0_MIO[14]" LOCATE = SITE "B6" LEVEL 1;
COMP "processing_system7_0_MIO[13]" LOCATE = SITE "A6" LEVEL 1;
COMP "ADC_Data0[0]" LOCATE = SITE "G20" LEVEL 1;
COMP "processing_system7_0_MIO[16]" LOCATE = SITE "D6" LEVEL 1;
COMP "processing_system7_0_MIO[15]" LOCATE = SITE "E6" LEVEL 1;
COMP "processing_system7_0_MIO[18]" LOCATE = SITE "A7" LEVEL 1;
COMP "processing_system7_0_MIO[17]" LOCATE = SITE "E9" LEVEL 1;
COMP "processing_system7_0_MIO[19]" LOCATE = SITE "E10" LEVEL 1;
COMP "processing_system7_0_MIO[10]" LOCATE = SITE "G7" LEVEL 1;
COMP "processing_system7_0_MIO[12]" LOCATE = SITE "C5" LEVEL 1;
COMP "processing_system7_0_DDR_CAS_n" LOCATE = SITE "P3" LEVEL 1;
COMP "processing_system7_0_MIO[11]" LOCATE = SITE "B4" LEVEL 1;
COMP "processing_system7_0_MIO[44]" LOCATE = SITE "E13" LEVEL 1;
COMP "processing_system7_0_MIO[43]" LOCATE = SITE "B11" LEVEL 1;
COMP "processing_system7_0_MIO[46]" LOCATE = SITE "D12" LEVEL 1;
COMP "processing_system7_0_MIO[45]" LOCATE = SITE "B9" LEVEL 1;
COMP "processing_system7_0_MIO[48]" LOCATE = SITE "D11" LEVEL 1;
COMP "processing_system7_0_MIO[47]" LOCATE = SITE "B10" LEVEL 1;
COMP "processing_system7_0_MIO[49]" LOCATE = SITE "C14" LEVEL 1;
COMP "processing_system7_0_MIO[40]" LOCATE = SITE "E14" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr[0]" LOCATE = SITE "L7" LEVEL 1;
COMP "processing_system7_0_MIO[42]" LOCATE = SITE "D8" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr[1]" LOCATE = SITE "L6" LEVEL 1;
COMP "processing_system7_0_MIO[41]" LOCATE = SITE "C8" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr[2]" LOCATE = SITE "M6" LEVEL 1;
COMP "processing_system7_0_MIO[34]" LOCATE = SITE "B12" LEVEL 1;
COMP "processing_system7_0_MIO[33]" LOCATE = SITE "G13" LEVEL 1;
COMP "processing_system7_0_MIO[36]" LOCATE = SITE "A9" LEVEL 1;
COMP "processing_system7_0_MIO[35]" LOCATE = SITE "F14" LEVEL 1;
COMP "processing_system7_0_MIO[38]" LOCATE = SITE "F13" LEVEL 1;
COMP "processing_system7_0_MIO[37]" LOCATE = SITE "B14" LEVEL 1;
COMP "processing_system7_0_MIO[39]" LOCATE = SITE "C13" LEVEL 1;
COMP "processing_system7_0_MIO[30]" LOCATE = SITE "A11" LEVEL 1;
COMP "processing_system7_0_MIO[32]" LOCATE = SITE "C7" LEVEL 1;
COMP "processing_system7_0_MIO[31]" LOCATE = SITE "F9" LEVEL 1;
COMP "processing_system7_0_DDR_RAS_n" LOCATE = SITE "R5" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[0]" LOCATE = SITE "D2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[1]" LOCATE = SITE "J2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[2]" LOCATE = SITE "P2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[31]" LOCATE = SITE "Y1" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[3]" LOCATE = SITE "W2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[30]" LOCATE = SITE "W3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[22]" LOCATE = SITE "M2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[21]" LOCATE = SITE "T2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[20]" LOCATE = SITE "R3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[26]" LOCATE = SITE "AA1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[25]" LOCATE = SITE "U1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[2]" LOCATE = SITE "B2" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[9]" LOCATE = SITE "H5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[24]" LOCATE = SITE "AA3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[1]" LOCATE = SITE "C3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[8]" LOCATE = SITE "J5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[23]" LOCATE = SITE "R1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[0]" LOCATE = SITE "D1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[7]" LOCATE = SITE "J6" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[6]" LOCATE = SITE "J7" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[29]" LOCATE = SITE "Y3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[6]" LOCATE = SITE "F2" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[5]" LOCATE = SITE "K5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[28]" LOCATE = SITE "W1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[5]" LOCATE = SITE "E1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[4]" LOCATE = SITE "K6" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[27]" LOCATE = SITE "U2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[4]" LOCATE = SITE "E3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[3]" LOCATE = SITE "L4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[3]" LOCATE = SITE "D3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[2]" LOCATE = SITE "K4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[1]" LOCATE = SITE "M5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[9]" LOCATE = SITE "G1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[0]" LOCATE = SITE "M4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[8]" LOCATE = SITE "G2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[12]" LOCATE = SITE "L3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[7]" LOCATE = SITE "F1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[11]" LOCATE = SITE "L2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[10]" LOCATE = SITE "L1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[16]" LOCATE = SITE "M1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[15]" LOCATE = SITE "K3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[14]" LOCATE = SITE "J1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[13]" LOCATE = SITE "K1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[19]" LOCATE = SITE "T1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[18]" LOCATE = SITE "N3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[17]" LOCATE = SITE "T3" LEVEL 1;
COMP "ADC_Data1[1]" LOCATE = SITE "F19" LEVEL 1;
COMP "ADC_Data1[0]" LOCATE = SITE "G19" LEVEL 1;
COMP "processing_system7_0_DDR_Clk" LOCATE = SITE "N4" LEVEL 1;
COMP "processing_system7_0_MIO[4]" LOCATE = SITE "E4" LEVEL 1;
COMP "processing_system7_0_MIO[3]" LOCATE = SITE "F6" LEVEL 1;
COMP "processing_system7_0_MIO[6]" LOCATE = SITE "A4" LEVEL 1;
COMP "processing_system7_0_MIO[5]" LOCATE = SITE "A3" LEVEL 1;
COMP "processing_system7_0_MIO[8]" LOCATE = SITE "E5" LEVEL 1;
COMP "processing_system7_0_MIO[7]" LOCATE = SITE "D5" LEVEL 1;
COMP "processing_system7_0_MIO[9]" LOCATE = SITE "C4" LEVEL 1;
COMP "DCLK[0]" LOCATE = SITE "B19" LEVEL 1;
COMP "processing_system7_0_MIO[0]" LOCATE = SITE "G6" LEVEL 1;
COMP "DCLK[1]" LOCATE = SITE "B20" LEVEL 1;
COMP "processing_system7_0_MIO[2]" LOCATE = SITE "A2" LEVEL 1;
COMP "processing_system7_0_MIO[1]" LOCATE = SITE "A1" LEVEL 1;
COMP "LEDS[0]" LOCATE = SITE "T22" LEVEL 1;
COMP "LEDS[2]" LOCATE = SITE "U22" LEVEL 1;
COMP "processing_system7_0_DDR_VRN" LOCATE = SITE "M7" LEVEL 1;
COMP "processing_system7_0_DDR_VRP" LOCATE = SITE "N7" LEVEL 1;
COMP "LEDS[1]" LOCATE = SITE "T21" LEVEL 1;
COMP "LEDS[7]" LOCATE = SITE "U14" LEVEL 1;
COMP "processing_system7_0_DDR_Clk_n" LOCATE = SITE "N5" LEVEL 1;
COMP "LEDS[4]" LOCATE = SITE "V22" LEVEL 1;
COMP "LEDS[3]" LOCATE = SITE "U21" LEVEL 1;
COMP "LEDS[6]" LOCATE = SITE "U19" LEVEL 1;
COMP "LEDS[5]" LOCATE = SITE "W22" LEVEL 1;
COMP "FCLK[0]" LOCATE = SITE "M19" LEVEL 1;
COMP "FCLK[1]" LOCATE = SITE "M20" LEVEL 1;
COMP "processing_system7_0_DDR_CS_n" LOCATE = SITE "P6" LEVEL 1;
COMP "processing_system7_0_DDR_CKE" LOCATE = SITE "V3" LEVEL 1;
COMP "processing_system7_0_DDR_DM[2]" LOCATE = SITE "P1" LEVEL 1;
COMP "processing_system7_0_DDR_DM[1]" LOCATE = SITE "H3" LEVEL 1;
COMP "processing_system7_0_DDR_DM[0]" LOCATE = SITE "B1" LEVEL 1;
COMP "processing_system7_0_DDR_DM[3]" LOCATE = SITE "AA2" LEVEL 1;
COMP "FCLKP1" LOCATE = SITE "AA9" LEVEL 1;
COMP "processing_system7_0_MIO[53]" LOCATE = SITE "C12" LEVEL 1;
COMP "processing_system7_0_MIO[50]" LOCATE = SITE "D13" LEVEL 1;
COMP "processing_system7_0_MIO[52]" LOCATE = SITE "D10" LEVEL 1;
COMP "processing_system7_0_MIO[51]" LOCATE = SITE "C10" LEVEL 1;
COMP "processing_system7_0_DDR_DRSTB" LOCATE = SITE "F3" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[2]" LOCATE = SITE "N2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[1]" LOCATE = SITE "H2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[0]" LOCATE = SITE "C2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[3]" LOCATE = SITE "V2" LEVEL 1;
PIN AdcClk_delayctrl_MapLib_replicate2_pins<0> = BEL
        "AdcClk_delayctrl_MapLib_replicate2" PINNAME REFCLK;
PIN module_1_i/processing_system7_0/processing_system7_0/PS7_i_pins<359> = BEL
        "module_1_i/processing_system7_0/processing_system7_0/PS7_i" PINNAME
        MAXIGP0ACLK;
TIMEGRP clk_fpga_0 = BEL "BUFG_DlyCtrl" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_29" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_28" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_27" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_26" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_31" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_25" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_30" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_19" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_24" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_18" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_23" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_17" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_22" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_16" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_21" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_15" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_20" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_14" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_13" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_12" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_11" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_10" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/ipif_glbl_irpt_enable_reg"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2Bus_RdAck_intr_reg_hole" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/INCLUDE_DPHASE_TIMER.dpto_cnt_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/INCLUDE_DPHASE_TIMER.dpto_cnt_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/INCLUDE_DPHASE_TIMER.dpto_cnt_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/INCLUDE_DPHASE_TIMER.dpto_cnt_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/Bus_RNW_reg"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_data_in_xor_reg_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2Bus_RdAck_intr_reg_hole_d1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/ip_irpt_enable_reg_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/ip_irpt_enable_reg_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/DO_IRPT_INPUT[1].GEN_POS_EDGE_DETECT.irpt_dly2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/DO_IRPT_INPUT[1].GEN_POS_EDGE_DETECT.irpt_dly1"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_29"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_28"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_27"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_26"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_31"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_25"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_30"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_19"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_24"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_18"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_23"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_17"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_22"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_16"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_21"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_15"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_20"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_14"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_13"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_12"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_11"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_wrack_i_D1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_29" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_28" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_27" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_31" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_26" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_25" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_30" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_24" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_19" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_23" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_18" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_22" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_17" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_16" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_21" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_15" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_20" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_14" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_13" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_12" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_11" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_10" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_6" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_Out_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_7"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_6"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_5"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_4"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_6" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_3"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_2"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_1"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_0"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_29" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_28" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_27" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_31" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_26" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_30" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_25" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_24" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_19" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_23" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_18" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_22" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_17" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_21" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_16" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_20" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_15" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_14" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_13" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_12" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_11" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_10" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_6" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_29"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_28"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_27"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_6" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_26"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_OE_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_25"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_19"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_18"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_17"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_16"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_io_i_d2_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2Bus_WrAck_intr_reg_hole_d1"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_29" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_28" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_27" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_31" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_26" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_30" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_25" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_24" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_19" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_23" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_18" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_22" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_17" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_21" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_16" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_15" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_20" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_14" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_13" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_12" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_11" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_10" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO2_intr" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_rdack_i_D1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/bus2ip_reset" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_data_in_xor_reg_10"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rdata_i_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_xferAck_Reg"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_9"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_8"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_7"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_6"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_5"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_4"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_3"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2Bus_WrAck_intr_reg_hole" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.GPIO2_DBus_i_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/DO_IRPT_INPUT[0].GEN_POS_EDGE_DETECT.irpt_dly2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/DO_IRPT_INPUT[0].GEN_POS_EDGE_DETECT.irpt_dly1"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_intr" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_rvalid_i"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_Data_In_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Dual.gpio2_io_i_d2_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_29" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_28" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_27" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_31" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_26" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_30" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_25" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_24" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_19" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_23" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_18" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_22" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_17" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_21" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_16" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_20" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_15" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_14" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_13" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_12" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_11" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_10" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_29"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_28"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_27"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_31"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_26"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_30"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_25"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_24"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_23"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_22"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_21"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_20"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_Dual.gpio2_io_i_d2_10"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/Intr2Bus_WrAck"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_6" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_Data_In_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_9"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_8"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_7"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_6"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_5"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_4"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_3"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/Mshreg_gpio_io_i_d2_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/s_axi_bvalid_i"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/state_FSM_FFd2"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/state_FSM_FFd1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/irpt_rdack_d1"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/Intr2Bus_RdAck"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_6" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_5" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_4" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_3" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_2" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_1" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/ip2bus_data_i_D1_0" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/cs_out_i_0_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/ip_irpt_status_reg_1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/ip_irpt_status_reg_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/INTR_CTRLR_GEN.INTERRUPT_CONTROL_I/irpt_wrack_d1"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/cs_out_i_0"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_19"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_18"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_17"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_16"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_15"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_14"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_13"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_12"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_11"
        BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/AXI_LITE_IPIF_I/I_SLAVE_ATTACHMENT/I_DECODER/ce_out_i_10"
        BEL "module_1_i/axi_gpio_0/axi_gpio_0/IP2INTC_Irpt" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_29" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_28" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/iGPIO_xferAck" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_27" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_26" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_31" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_25" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_30" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_19" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_24" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_18" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_23" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_17" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_22" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_16" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_21" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_15" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_20" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_14" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_13" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_12" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_11" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/gpio_OE_10" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_9" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_8" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_7" BEL
        "module_1_i/axi_gpio_0/axi_gpio_0/gpio_core_1/GPIO_DBus_i_6" BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_ar/m_ready_d_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_ar/m_ready_d_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/s_axi_rlast_i"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/reset"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/s_axi_awready_i"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_grant_hot_i_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/areset_d_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_pipe_2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_pipe_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_pipe_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_53"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cs_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_47"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_52"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_46"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_45"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_39"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_44"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_38"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_43"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_42"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_37"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_36"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_41"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_40"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_35"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_34"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_29"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_28"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_33"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_32"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_31"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_30"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_19"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_18"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_17"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_16"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_15"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_20"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_valid_i"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_14"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/read_active"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_11"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_10"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/mi_register_slice_bank/gen_reg_slot[0].register_slice_inst/reset"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/s_axi_arready_i"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/busy"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_hot_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_hot_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/s_arvalid_reg_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/mi_converter_bank/gen_conv_slot[0].clock_conv_inst/m_axi_reset_out_n_i"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/write_cs_FSM_FFd2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/write_cs_FSM_FFd1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/grant_rnw"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_enc_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/s_awvalid_reg_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_9"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_8"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_7"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_6"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_5"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_4"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_3"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_enc_0_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_aw/m_ready_d_2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_aw/m_ready_d_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_aw/m_ready_d_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_3"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_0"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/write_active"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/grant_rnw_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/s_ready_i_0"
        BEL "PWM/count_19" BEL "PWM/count_18" BEL "PWM/count_17" BEL
        "PWM/count_16" BEL "PWM/count_15" BEL "PWM/count_14" BEL
        "PWM/count_13" BEL "PWM/count_12" BEL "PWM/count_11" BEL
        "PWM/count_10" BEL "PWM/count_9" BEL "PWM/count_8" BEL "PWM/count_7"
        BEL "PWM/count_6" BEL "PWM/count_5" BEL "PWM/count_4" BEL
        "PWM/count_3" BEL "PWM/count_2" BEL "PWM/count_1" BEL "PWM/count_0"
        PIN "AdcClk_delayctrl_MapLib_replicate2_pins<0>" PIN
        "module_1_i/processing_system7_0/processing_system7_0/PS7_i_pins<359>";
TIMEGRP clk_fpga_1 = BEL "FCLKP1";
TIMEGRP axi_interconnect_1_reset_resync = BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_2"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_1"
        BEL
        "module_1_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_0";
TIMEGRP axi_interconnect_1_reset_source = FFS(*) PADS(*);
TS_clk_fpga_1 = PERIOD TIMEGRP "clk_fpga_1" 25 MHz HIGH 50%;
TS_clk_fpga_0 = PERIOD TIMEGRP "clk_fpga_0" 50 MHz HIGH 50%;
PATH TS_axi_interconnect_1_reset_resync_path = FROM TIMEGRP
        "axi_interconnect_1_reset_source" TO TIMEGRP
        "axi_interconnect_1_reset_resync";
PATH "TS_axi_interconnect_1_reset_resync_path" TIG;
SCHEMATIC END;

